html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    /* background-color: #262626; */
    background-color: #91bfbf;
    display: flex;
    justify-content: center;
}
#root {
    width: 80%;
}
